body {
    margin: 0 auto;
    width: auto;
    background-color: lightslategrey;
}
.btn {
    margin-top: 10px;
    margin-right: 20px;
}

.my-container {
    margin: 50px auto;
    width: 1000px;
    min-height: 500px;
    height: auto;
    background-color: lightgrey;
    overflow: auto;
    resize: both;
}

h4 {
    font-family: "DejaVu Sans";
    color: dimgrey;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

form, h2 {
    text-align: center;
}

.my-table {
    margin-left: 50px;
    display: inline-block;
    float: left;
}

.my-table table {
    min-width: 160px;
    border: 1px solid dimgrey;
}

.result {
    float: right;
    margin: 20px auto;
    width: 900px;
}

.result span {
    margin-left: 30px;
}